@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}

header > .container {
  background-color: #0282f9;
}
header > .container .row {
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: white;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-transform: uppercase;
  padding: 5px;
  font-size: 0.8rem;
}

.jumbotron > .container {
  height: 300px;
}
.jumbotron > .container > img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  width: 100%;
}

nav > .row {
  padding: 10px 0;
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav > .row #logo {
  height: 50px;
}
nav > .row .search {
  border-bottom: 2px solid #0282f9;
}
nav > .row li {
  padding: 0 10px;
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 0.9em;
}
nav > .row li > a {
  color: #5e5e5e;
  text-decoration: none;
}
nav > .row input {
  border: none;
  font-weight: bold;
}
nav > .row ::-moz-placeholder {
  color: #303030;
  text-align: right;
  font-size: 0.8em;
}
nav > .row :-ms-input-placeholder {
  color: #303030;
  text-align: right;
  font-size: 0.8em;
}
nav > .row ::placeholder {
  color: #303030;
  text-align: right;
  font-size: 0.8em;
}

main {
  background-color: #1c1c1c;
}
main > .container {
  width: 80%;
  margin: auto;
}
main > .container > .current-series {
  background-color: #0282f9;
  padding: 10px;
  text-transform: uppercase;
  position: relative;
  top: -20px;
  width: 150px;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}
main > .container > .load-more {
  margin: 30px auto 30px auto;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  padding: 10px;
  background-color: #0282f9;
  color: white;
}
main > .container > .row {
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 9999;
}
main > .container > .row > .comic {
  color: white;
  max-width: 190px;
  width: calc((100% - 500px) / 6);
}
main .container:nth-child(2) {
  background-color: #0282f9;
  width: 100%;
}
main .container:nth-child(2) > .row {
  margin: auto;
  width: 80%;
}
main .container:nth-child(2) > .row > .card-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main .container:nth-child(2) > .row > .card-container > img {
  height: 100px;
  padding: 30px 10px;
}
main .container:nth-child(2) > .row > .card-container > p {
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
}

footer > .container {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
footer > .container > .row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: auto;
}
footer > .container > .row > .link-container {
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 25px;
  display: flex;
}
footer > .container > .row img {
  width: 400px;
  height: 400px;
  position: relative;
  top: -50px;
  left: 0;
}
footer > .container > .row ul {
  list-style: none;
}
footer > .container > .row ul > h4 {
  padding-bottom: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
}
footer > .container > .row ul > li {
  text-transform: capitalize;
  list-style: none;
}
footer > .container > .row ul > li > a {
  font-size: 0.8em;
  color: #5e5e5e;
  text-decoration: none;
}
footer > .footer-down {
  position: relative;
  background-color: #303030;
}
footer > .footer-down > .row {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
footer > .footer-down > .row > button {
  background-color: #303030;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #0282f9;
}
footer > .footer-down > .row > div {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 300px;
}
footer > .footer-down > .row > div > span {
  color: #0282f9;
  text-transform: uppercase;
  font-weight: bold;
}
footer > .footer-down > .row > div > img {
  width: 30px;
}

section {
  background-color: white;
}
section > > .line {
  height: 50px;
  width: 100%;
  background-color: #0282f9;
}
section > .comic-container {
  width: 80%;
  margin: auto;
  height: 10px;
}
section > .comic-container > .comic {
  position: relative;
  top: -225px;
  border: 1px solid white;
  color: white;
  width: 125px;
}
section > .comic-container > .comic > img {
  width: 100%;
}
section > .comic-container > .comic > p {
  padding: 5px;
  font-size: 0.8em;
  background-color: #0282f9;
  text-transform: uppercase;
  text-align: center;
}
section .container {
  padding: 50px 0;
  width: 80%;
  margin: auto;
}
section .container .row {
  display: flex;
  justify-content: space-between;
}
section .container .row > .col-sx {
  width: 70%;
}
section .container .row > .col-sx > h1 {
  padding-bottom: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
}
section .container .row > .col-sx > .price {
  border-bottom: 3px solid #4daa51;
  height: 40px;
  display: flex;
  background-color: #55ba59;
  justify-content: space-between;
  align-items: center;
  color: white;
}
section .container .row > .col-sx > .price > div > p {
  padding-left: 30px;
}
section .container .row > .col-sx > .price > div > p span {
  color: #8eff9f;
}
section .container .row > .col-sx > .price > div:nth-child(2) {
  height: 100%;
  display: flex;
}
section .container .row > .col-sx > .price > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  border-right: 5px solid #4daa51;
}
section .container .row > .col-sx > .price > div:nth-child(2) > div > p:nth-child(1) {
  color: #8eff9f;
  padding: 0 20px;
}
section .container .row > .col-sx > .price > div:nth-child(2) > div > span {
  padding: 0 20px;
}
section .container .row > .col-sx > div:last-child > p {
  padding-top: 30px;
  font-size: 0.9em;
  font-weight: 600;
  color: #5e5e5e;
  line-height: 1.5;
}
section .container .row > .col-dx {
  width: 25%;
}
section .container .row > .col-dx img {
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
section > .container:nth-child(4) {
  background-color: #f6f6f6;
  width: 100%;
  border-top: 2px solid #ebebeb;
  padding-bottom: 75px;
}
section > .container:nth-child(4) > .row {
  padding: 20px 0;
  margin: auto;
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}
section > .container:nth-child(4) > .row > .col-sx,
section > .container:nth-child(4) > .row .col-dx {
  width: 48%;
}
section > .container:nth-child(4) > .row > .col-sx > h2,
section > .container:nth-child(4) > .row .col-dx > h2 {
  border-bottom: 2px solid #ebebeb;
  font-size: 1.2em;
  color: #151b3d;
  padding-bottom: 10px;
}
section > .container:nth-child(4) > .row > .col-sx > .row,
section > .container:nth-child(4) > .row .col-dx > .row {
  padding: 20px 0;
  border-bottom: 2px solid #ebebeb;
  display: flex;
}
section > .container:nth-child(4) > .row > .col-sx > .row > .inner-sx-col,
section > .container:nth-child(4) > .row .col-dx > .row > .inner-sx-col {
  font-size: 0.8em;
  text-decoration: none;
  color: #151b3d;
  width: 30%;
  font-weight: bold;
}
section > .container:nth-child(4) > .row > .col-sx > .row > .inner-dx-col,
section > .container:nth-child(4) > .row .col-dx > .row > .inner-dx-col {
  font-size: 0.8em;
  width: 70%;
}
section > .container:nth-child(4) > .row > .col-sx > .row > .inner-dx-col > a,
section > .container:nth-child(4) > .row .col-dx > .row > .inner-dx-col > a {
  text-decoration: none;
  color: #0282f9;
}
section .container:last-child {
  background-color: #0282f9;
  width: 100%;
}
section .container:last-child > .row {
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 9999;
  margin: auto;
  width: 80%;
}
section .container:last-child > .row > .card-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section .container:last-child > .row > .card-container > img {
  height: 100px;
  padding: 30px 10px;
}
section .container:last-child > .row > .card-container > p {
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
}