$main_color: #0282f9;
$bg_color: #1c1c1c;
$bg_footer: #303030;
$text_white: white;
$dark_text: #303030;
$secondary_text:#5e5e5e;
$bg_comics: #f6f6f6;
$border:#ebebeb;
$titles:#151b3d;
$bg_price_bar: #55ba59;
$light_green:#8eff9f;
$dark_green: #4daa51;